<!-- password_reset_sent.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h2 {
            text-align: center;
            color: #333;
        }
        p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Password Reset Email Sent&nbsp;&nbsp;&nbsp;</h2><br>
    <p>Check your email for further instructions to reset your password.</p>
</body>
</html>
