<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showtime</title>
</head>
<body>
    {% include 'headerNavbar.html' %}
    <table>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            <th>18 March</th>
            <th>19 March</th>
            <th>20 March</th>
            <th>21 March</th>
            <th>22 March</th>
            <th>23 March</th>
            <th>24 March</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <p>Book Tickets:</p>
    {% for schedule in movieSchedules.all %}
    <li>
        {{ schedule.dayofweek }}<br>
        <strong>Date:</strong> {{ schedule.date }}<br>
        <strong>Slot 1 Movie Title:</strong> 
        {% for movie in movies %}
            {% if movie.movieId == schedule.slot1_id %}
                {{ movie.title }}
            {% endif %}
        {% endfor %}
        <br>
        <strong>Slot 2 Movie Title:</strong> 
        {% for movie in movies %}
            {% if movie.movieId == schedule.slot2_id %}
                {{ movie.title }}
            {% endif %}
        {% endfor %}
        <br>
    </li>
    {% endfor %}
    <br>
    {% include 'footer.html' %} 
</body>
</html>